<table class="table">
    <thead>
        <tr>
            <th scope="col">
                Complete task by clicking it.
                
            </th>
    
        </tr>
    </thead>
    
    <tbody id="todo_table">
    
    </tbody>
    <form id="complete_todo_form" action="/complete_todo/" method="POST"></form>
    
    </table>